
.qandamenu {
    font-size: 80%;
}

.qandaq {

}

.qandadateq {
    font-color: 060606;
    font-size: 80%;
    display: inline-block;
}

.qandadatea {
    font-color: 060606;
    font-size: 80%;
    margin-left: 35px;
    display: inline-block;
}

.qandaunas {
    font-color: 060606;
    margin-left: 35px;
}

.qandaa {
    margin-left: 35px;
}