#enable_html_escaping()

#if(!$question)
    <div id="qandaparameters" class="hidden"
         baseUrl="$baseJIRAURL"
         issueKey="$issue.key"
         projectKey="$issue.project.name"
         unresolvedQuestions="$stats.unresolved"
         totalQuestions="$stats.total"></div>
	<div class="qanda-preamble qanda-panel-item">
	    
	    <div id='qanda_addbutton' class="aui-toolbar" style="display: inline;">
	        <div class="toolbar-split toolbar-split-right" style="margin-top: 10px;">
	            <ul class="toolbar-group">
	                <li class="toolbar-item">
	                	<a id="quanda_addquestion" class="toolbar-trigger">
	                		<span class="icon icon-add16"></span>
	                		<span class='qandamenu'>$i18n.getText("qanda.panel.addquestionlink")</span>
	                	</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	    
	    <h5>$i18n.getText("qanda.panel.title") - $issue.key</h5>
		
	    <div id="quanda-error" class='hidden'></div>
	 </div>
#else

	##	============== QUESTION ============== 
	##	====================================== 
	<div id="qanda-${question.id}-thread" class="qanda-question-thread" qid="$question.id">
		<div id="qanda-${question.id}-panel" class="qanda-panel-item qanda-question-panel">
			<a href="#" class="twixi-trigger expanded"><span class="icon twixi-opened"></span></a>
		
			## ============= HEADER
		    <span class='qandauser'>$uiFormatter.formatUser($question.user) $i18n.getText("qanda.panel.asked") </span>
		    <span class='qandadateq'>&nbsp;-&nbsp;$uiFormatter.formatTimeStamp($question.timeStamp)</span>
		    
		    ## ============= TOOLBAR 
		    #if($question.answered == false)
		        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">$i18n.getText("qanda.status.noanswer")</span>
		    #else
		        #if($question.closed == false)
		            <span class="aui-lozenge aui-lozenge aui-lozenge-complete">$i18n.getText("qanda.status.answered")</span>
		        #else
		            <span class="aui-lozenge aui-lozenge aui-lozenge-success">$i18n.getText("qanda.status.clarified")</span>
		        #end
		    #end
		    <span class="actions-toolbar">
            #if(($currentUser.name == $question.user || $overrideActions) && $question.answers.size() == 0)
                <a id="quanda_editquestion_$question.id" questionId='$question.id' class="toolbar-action icon icon-edit-sml" title="$i18n.getText("qanda.panel.editquestionlink")"></a>
            	<a id="quanda_delquestion_$question.id" questionId='$question.id' class="toolbar-action icon icon-delete" title="$i18n.getText("qanda.panel.deletequestionlink")"></a>
            #end
            #if($question.closed && $addToIssueDescription)
                <a id="quanda_adddescquestion_$question.id" questionId='$question.id' class="toolbar-action icon icon-add16" title="$i18n.getText("qanda.panel.addquestiontodesclink")"></a>
            #end
            </span>
            
            ## ============= Q BODY
		    <div class="user-content-block qandaq">$uiFormatter.formatText($question.questionText)</div>
		    
		    ## ============= ANSWER BUTTON 
		    <div class="aui-toolbar" style="padding-top: 0px;">
		        <div class="toolbar-split toolbar-split-left" style="margin-left: 0px;">
		            <ul class="toolbar-group">
		                <li class="toolbar-item"><a id="quanda_addanswer_$question.id" questionId='$question.id' class="toolbar-trigger"><span class='qandamenu'>$i18n.getText("qanda.panel.addanswerlink")</span></a></li>
		            </ul>
		        </div>
		    </div>
		</div>
	    
	    
	    
		##  ============== ANSWERS ===============
		##	======================================	            
	    #if($!q.answers.size() == 0)
	        <div class="user-content-block qandaunas">$i18n.getText("qanda.panel.beagoodguy")</div>
	    #else
	    	<div id="qanda-answers-for-${question.id}" qid="${question.id}" class="qanda-answers-panel">
	        #foreach ($a in $question.answers)
	        	<div id="qanda-answer-$a.answerId" aid="$a.answerId" class="qanda-answer qanda-panel-item #if($a.accepted) qanda-accepted-answer #end ">
	        		## ========= HEADER
	                <span class='qandauser qandaa'>$uiFormatter.formatUser($a.user) $i18n.getText("qanda.panel.answered")</span>
	                <span class='qandadatea'>&nbsp;-&nbsp;$uiFormatter.formatTimeStamp($a.timeStamp)</span>
	                
	                ## ========= TOOLBAR
					<span class="actions-toolbar">
                        #if($currentUser.name == $question.user || $overrideActions)
                            #if($a.accepted == false)
                            	<a id="quanda_approvelink_$a.answerId" answerId='$a.answerId' class="toolbar-action qanda-icon qanda-icon-accept" title="$i18n.getText("qanda.panel.approvelink")"></a>
                            #else
                            	<a id="quanda_disapprovelink_$a.answerId" answerId='$a.answerId' class="toolbar-action qanda-icon qanda-icon-reject" title="$i18n.getText("qanda.panel.clearapprovallink")"></a>
                            #end
                        #end
                        #if(($currentUser.name == $a.user || $overrideActions) && $a.accepted == false)
                            <a id="quanda_editanswer_$a.answerId" answerId='$a.answerId' class="toolbar-action icon icon-edit-sml" title="$i18n.getText("qanda.panel.editanswerlink")"></a>
                            <a id="quanda_deleteanswer_$a.answerId" answerId='$a.answerId' class="toolbar-action icon icon-delete" title="$i18n.getText("qanda.panel.deleteanswerlink")"></a>
    					#end
					</span>
	                
	                ## ========= ANSWER
	                <div class="user-content-block qandaa">$uiFormatter.formatText($a.answerText)</div>
	        	</div>    
	        #end
	        </div>
	    #end
	</div>
#end

<form id="qandaParameterContainer">
  <fieldset class="hidden parameters">
    <input type="hidden" title="qcancel" value="$i18n.getText('qanda.button.cancel')">
    <input type="hidden" title="qask" value="$i18n.getText('qanda.button.save.question')">
    <input type="hidden" title="qanswer" value="$i18n.getText('qanda.button.save.answer')">
    <input type="hidden" title="qsave" value="$i18n.getText('qanda.button.save.edit')">
    <input type="hidden" title="qaskTitle" value="$i18n.getText('qanda.dialog.addquestion.title')">
    <input type="hidden" title="qaskLabel" value="$i18n.getText('qanda.dialog.addquestion.label')">
    <input type="hidden" title="qanswerTitle" value="$i18n.getText('qanda.dialog.addanswer.title')">
    <input type="hidden" title="qanswerLabel" value="$i18n.getText('qanda.dialog.addanswer.label')">
    <input type="hidden" title="qEditQTitle" value="$i18n.getText('qanda.dialog.edit.question.title')">
    <input type="hidden" title="qEditATitle" value="$i18n.getText('qanda.dialog.edit.answer.title')">

	<input type="hidden" title="qerrorLog" value="$i18n.getText('qanda.dialog.error.check.logs')">
    <input type="hidden" title="qerrorSaveQTitle" value="$i18n.getText('qanda.dialog.error.saving.question.title')">
    <input type="hidden" title="qerrorSaveATitle" value="$i18n.getText('qanda.dialog.error.saving.answer.title')">
    <input type="hidden" title="qerrorAddToIssue" value="$i18n.getText('There was an error posting your question in the issue description ...')">

  </fieldset>
</form>
	
