#if(!$question)

    <h5>$i18n.getText("qanda.panel.title") - $issue.key</h5>
    
	#if($permitAdd == true)
    <div id='qanda_addbutton' class="aui-toolbar" style="padding-top: 0px;">
        <div class="toolbar-split toolbar-split-left" style="margin-left: 0px;">
            <ul class="toolbar-group">
                <li class="toolbar-item"><a id="quanda_addquestion" baseUrl="$baseJIRAURL" issueKey="$issue.key" class="toolbar-trigger"><span class='qandamenu'>[$i18n.getText("qanda.panel.addquestionlink")]</span></a></li>
            </ul>
        </div>
    </div>
    <br/>
    <hr size='1'>
	#end
	
    <div id="quanda-error" class='hidden'></div>
#else

	<!-- ============== QUESTION ============== -->
	<!-- ====================================== -->
	
    #if($question.answered == false)
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-default">$i18n.getText("qanda.status.noanswer")</span>
    #else
        #if($question.closed == false)
            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">$i18n.getText("qanda.status.answered")</span>
        #else
            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">$i18n.getText("qanda.status.clarified")</span>
        #end
    #end
    <div class='qandauser'>$uiFormatter.formatUser($question.user) $i18n.getText("qanda.panel.asked") </div>
    <div class='qandadateq'>$uiFormatter.formatTimeStamp($question.timeStamp)</div>
    
    <div class="user-content-block qandaq">$uiFormatter.formatText($question.questionText)</div>
    
    <div class="aui-toolbar" style="padding-top: 0px;">
        <div class="toolbar-split toolbar-split-left" style="margin-left: 0px;">
            <ul class="toolbar-group">
                <li class="toolbar-item"><a id="quanda_addanswer_$question.id" questionId='$question.id' baseUrl="$baseJIRAURL" class="toolbar-trigger"><span class='qandamenu'>[$i18n.getText("qanda.panel.addanswerlink")]</span></a></li>
                #if(($currentUser.name == $question.user || $overrideActions) && $question.answers.size() == 0)
                <li class="toolbar-item"><a id="quanda_delquestion_$question.id" questionId='$question.id' baseUrl="$baseJIRAURL" class="toolbar-trigger"><span class='qandamenu'>[$i18n.getText("qanda.panel.deletequestionlink")]</span></a></li>
                #end
            </ul>
        </div>
    </div>
    
    
    
    <!-- ============== ANSWERS =============== -->
	<!-- ====================================== -->
	            
    #if($!q.answers.size() == 0)
        <div class="user-content-block qandaunas">$i18n.getText("qanda.panel.beagoodguy")</div>
    #else
        #foreach ($a in $question.answers)
                <div class='qandauser qandaa'>$uiFormatter.formatUser($a.user) $i18n.getText("qanda.panel.answered")</div>
                <div class='qandadatea'>$uiFormatter.formatTimeStamp($a.timeStamp)</div>
                
                <div class="user-content-block qandaa">$uiFormatter.formatText($a.answerText)</div>
                
                <div class="aui-toolbar" style="padding-top: 0px;">
                    <div class="toolbar-split toolbar-split-left" style="margin-left: 0px;">
                        <ul class="toolbar-group">
                        #if($currentUser.name == $question.user || $overrideActions)
                            #if($a.accepted == false)
                                <li class="toolbar-item"><a id="quanda_approvelink_$a.answerId" answerId='$a.answerId' baseUrl="$baseJIRAURL" class="toolbar-trigger"><span class='qandamenu'>[$i18n.getText("qanda.panel.approvelink")]</span></a></li>
                            #else
                                <li class="toolbar-item"><a id="quanda_disapprovelink_$a.answerId" answerId='$a.answerId' baseUrl="$baseJIRAURL" class="toolbar-trigger"><span class='qandamenu'>[$i18n.getText("qanda.panel.clearapprovallink")]</span></a></li>
                            #end
                        #end
                        #if(($currentUser.name == $a.user || $overrideActions) && $a.accepted == false)
                            <li class="toolbar-item"><a id="quanda_deleteanswer_$a.answerId" answerId='$a.answerId' baseUrl="$baseJIRAURL" class="toolbar-trigger"><span class='qandamenu'>[$i18n.getText("qanda.panel.deleteanswerlink")]</span></a></li>
                        #end
                        </ul>
                    </div>
                </div>
        #end
    #end
    <hr size='1'>    
#end

